<header id="text-center">
  <!-- Your header content here -->
  <h1>Home Page for Metting and Client Management </h1>
</header>
<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/client-management" class="nav-link">Client Management</a>
    </li>
    <li class="nav-item">
      <a routerLink="/meeting-management" class="nav-link">Meeting Management</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <!-- Your footer content here -->
</footer>
